#shoppingCar { margin-top: 106px; }

#shoppingCar .container { overflow: hidden; }

#shoppingCar .container .shophead { width: 1500px; overflow: hidden; background: #F3F3F3; margin: 0; }

#shoppingCar .container .shophead li { width: 15%; line-height: 50px; text-align: center; }

#shoppingCar .container .shophead .proname { width: 40%; }

#shoppingCar .container .carContent { overflow: hidden; }

#shoppingCar .container .carContent ul { margin: 0; margin-right: 0; width: 1500px; height: 160px; border: 1px solid #999; border-top: none; }

#shoppingCar .container .carContent ul li { padding-top: 18px; float: left; }

#shoppingCar .container .carContent ul li img { width: 103px; border: 1px solid #999; margin: 0px 24px; }

#shoppingCar .container .carContent ul li h3 { width: 429px; font-size: 20px; margin: 0; margin-right: 116px; line-height: 26px; }

#shoppingCar .container .carContent ul li button { outline: none; width: 32px; height: 35px; border: 1px solid #eee; margin: 0; }

#shoppingCar .container .carContent ul li input { outline: none; width: 66px; height: 34px; border: 1px solid #999; text-align: center; }

#shoppingCar .container .carContent ul li .jian { margin-right: -5px; margin-left: 140px; }

#shoppingCar .container .carContent ul li .sum { margin-left: -4px; }

#shoppingCar .container .carContent ul li .currTotalPrice { margin-left: 124px; }

#shoppingCar .container .carContent ul li:last-child { margin-left: 166px; text-align: center; }

#shoppingCar .container .carPage { padding-left: 53px; font-size: 18px; border: 1px solid #999; }

#shoppingCar .container .carPage p { margin: 0; line-height: 36px; }

#shoppingCar .container .carPage p i { color: red; padding-right: 5px; font-size: 24px; }

#shoppingCar .container .carPage p a { color: red; padding-left: 10px; }

#shoppingCar .container .totalPrice { margin-bottom: 40px; height: 55px; }

#shoppingCar .container .totalPrice p { width: 15%; height: 55px; line-height: 55px; float: right; margin: 0; }

#shoppingCar .container .totalPrice p span { font-size: 28px; color: #F26E78; }

#shoppingCar .container .totalPrice button { float: right; width: 10%; height: 55px; border: none; background: #F26E78; color: #fff; font-size: 22px; font-weight: bold; outline: none; }

#nogoods { display: none; }

#nogoods .container { overflow: hidden; }

#nogoods .container p { width: 1500px; height: 154px; text-align: center; line-height: 154px; }

#Goodsbanner { margin-bottom: 152px; }

#Goodsbanner .container { overflow: hidden; }

#Goodsbanner .container h3 { margin: 0; font-size: 18px; line-height: 38px; width: 140px; height: 38px; text-align: center; border: 1px solid #ccc; border-bottom: 1px solid #fff; }

#Goodsbanner .container #bannerList { width: 1500px; height: 408px; position: relative; border: 1px solid #ccc; }

#Goodsbanner .container #bannerList i { width: 46px; font-size: 46px; position: absolute; }

#Goodsbanner .container #bannerList .fli { left: 0; top: 170px; }

#Goodsbanner .container #bannerList .fri { right: 0; top: 170px; }

#Goodsbanner .container #bannerList .screen { display: block; width: 1428px; height: 408px; overflow: hidden; margin-left: 40px; }

#Goodsbanner .container #bannerList .screen .totalList { position: absolute; margin-left: 40px; left: 0px; top: 0; }

#Goodsbanner .container #bannerList .screen .totalList ul { width: 1428px; height: 408px; margin: 0; float: left; overflow: hidden; }

#Goodsbanner .container #bannerList .screen .totalList ul li { overflow: hidden; padding: 40px 35px 0 35px; width: 234px; height: 408px; text-align: center; }

#Goodsbanner .container #bannerList .screen .totalList ul li img { width: 165px; height: 173px; }

#Goodsbanner .container #bannerList .screen .totalList ul li a { display: block; width: 164px; font-size: 18px; line-height: 26px; text-decoration: none; color: #777; }

#Goodsbanner .container #bannerList .screen .totalList ul li h4 { color: red; }
